<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FeedPage</title>
</head>
<body>
    <h1>Welcome to Cloud</h1>
    <hr>
    <form method="POST" action="submit_image" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="caption" type="text" placeholder="Enter Caption">
        <br><br>
        <input type="file" name="image_data">
        <br><br>
        <button type="submit">Add Image</button>
        <br><br>
        <a href="/feedpage/show_images">View Images</a>
    </form>
    
</body>
</html>